
<!-- <div *ngFor="let dec of data" ng-app = "" ng-controller="coinController" style="text-align:right; width: 95%;float: left;" >
  <span>
      1 SHIBA = 
  </span>
  <span id="refresh" ng-model="add.amount1"  >
      <strong>₱{{ dec.current_price }}  <br />
         <i style="color: #ccc; font-size: 13px;"> from ₱0.00374874 </i>  
      </strong>
    &nbsp;
  </span>
 
  
</div> -->
<!-- <button id="refresh" class="m-1 btn btn-primary " (click)="reloadCurrentPage()" >
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
    </svg>
</button>
<br />
<br /> -->
<div class="col-lg-12 float-right " id="price">
  <br />
  <div class="table-text price last float-left col-sm-6 totalleft " style="text-align:center;" ng-model="amount2"> <h6>TOTAL Saitama:</h6>  <span class="" style="display: inline-block;">{{totalPrice()}}</span></div>
  <div class="table-text price float-right col-sm-6 totallright" style="text-align:center;" ng-model="amount2"> <h6>PRICE: </h6><span> ₱{{getTotalPrice() | number:'1.4-4'}}</span></div>
  <br />
</div>


