.wrapper {

    position: relative;
  
    /* if you want to enlarge the wrapper to make it look wider*/
  
    /* width:1336px;	  */
  
  }
  
  .Stage_ico_IATroad_id, .Stage_shadow_id, .Stage_sym_IAT_Road_id {
    margin: 0 0px 0 10px !important;
  }
  
  .Stage_ico_IATServiceCenter_id, .Stage_shadowCopy2_id, .Stage_sym_IAT_CerviceCenter_id {
    margin: 0 0px 0 30px !important;
  }
  
  .Stage_ico_IATtankTerminal_id, .Stage_shadowCopy3_id, .Stage_sym_IAT_TankTerminal_id {
    margin: 0 0px 0 45px !important;
  }
  .Stage_ico_IATAirSea_id, .Stage_sym_IAT_AIRSEA_id, .Stage_shadowCopy5_id {
    margin: 0 0px 0 -45px !important;
  }
  .Stage_ico_IATAgency_id, .Stage_sym_IAT_Agency_id, .Stage_shadowCopy6_id {
    margin: 0 0px 0 -30px !important;
  }
  .Stage_ico_IATIntermodal_id, .Stage_sym_IAT_Intermodal_id, .Stage_shadowCopy7_id {
    margin: 0 0px 0 -10px !important;
  }
  